/* GERAL */
html {
    font-size: 18px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    margin: auto;
    justify-content: space-evenly;
    height: 100vh;
}

/* TITULO */
.titulo {
    font-size: 1.4rem;
    text-align: center;
    font-weight: normal;
    max-width: 80%;
    margin: 0 auto;
}

/* IMAGEM */
.imagem-largura-maxima {
    width: 80%;
    align-self: center;
}

/* BOTAO */
.btn-grupo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    padding: 10px 0;
    border: none;
    border-radius: 20px;
    text-align: center;
    width: 80%;
    margin: auto;
}

.btn-primario {
    background-color: #19191B;
    color: white;
}

.btn-secundario {
    background-color: #efeff0;
    color: #61646b;
}

.btn-cancelar {
    background-color: #c00;
    color: #fff;
}

/* FORMULARIO */
.formulario-center {
    width: 80%;
    margin: 0 auto;
}

.formulario-grupo {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.formulario-grupo label {
    font-size: .8rem;
    font-weight: bold;
}

.formulario-grupo input {
    border: 1px solid #61646b;
    border-radius: 8px;
    padding: 8px 10px;
    margin-bottom: 10px;
}

.formulario-grupo input::placeholder {
    color: #61646b;
}

/* ICONE PARA INPUT */
.input-icone {
    display: flex;
    align-items: center;
    position: relative;
}

.input-icone input {
    width: 100%;
}

.input-icone i {
    position: absolute;
    right: 5%;
    top: 8px;
    color: #AFB1B6;
    cursor: pointer;
}

/* OBSERVACOES NA SENHA*/

.tips {

    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    margin-bottom: 10px;
}

.tip {
    display: flex;
    align-items: center;
    width: 45%;
}

.tip-icon {
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
}

.tip-text {
    font-size: .5rem;
    padding: 0 10px;
}

.sucesso {
    background-color: green;
}

.erro {
    background-color: red;
}