html {
    font-size: 18px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    font-size: 1.4rem;
    text-align: center;
    font-weight: normal;
    max-width: 80%;
    margin: 0 auto;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    margin: auto;
    justify-content: space-evenly;
    height: 100vh;
}

.tamanho-maximo {
    width: 80%;
    align-self: center;
}

.btn-grupo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

a.btn {
    padding: 10px 0;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    text-align: center;
    width: 90%;
    margin: auto;
    text-decoration: none;
}

.btn-primario {
    background-color: #19191B;
    color: white;
}

.btn-secundario {
    background-color: #efeff0;
    color: #61646b;
}

.btn-cancelar {
    background-color: #c00;
    color: #fff;
}

.formulario-center {
    width: 90%;
    margin: 0 auto;
}

.formulario-grupo {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.formulario-grupo label {
    font-size: .8rem;
    font-weight: bold;
}

.formulario-grupo input {
    border: 1px solid #61646b;
    border-radius: 8px;
    padding: 8px 10px;
    margin-bottom: 10px;
}

.formulario-grupo input::placeholder {
    color: #61646b;
}

.input-icone {
    display: flex;
    align-items: center;
    position: relative;
}

.input-icone input {
    width: 100%;
}

.input-icone i {
    position: absolute;
    right: 5%;
    top: 8px;
    color: #AFB1B6;
    cursor: pointer;
}

.center {
    text-align: center;
}

.center a:link {
    color: dodgerblue;
    text-decoration: none;
    font-size: .6rem;
    font-weight: bolder;
}

.center a:hover {
    color: blue;
}

.center a:visited {
    color: gray;
}