/* LINK DE RECUPERACAO */
.center {
    text-align: center;
}
.center a:link {
    color: dodgerblue;
    text-decoration: none;
    font-size: .6rem;
    font-weight: bolder;
}

.center a:hover {
    color: blue;
}

.center a:visited {
    color: gray;
}

.btn-grupo-login{
    margin-top: 40px;
}

.btn-primario-input{
    background-color: #19191B;
    color: white;
    font-size: 1rem;
    width: 100%;
}
.btn-secundario-input{
    width: 100%;
}