.tips {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    margin-bottom: 10px;
}

.tip {
    display: flex;
    align-items: center;
    width: 40%;
}

.tip-icon {
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
}

.tip-text {
    font-size: .5rem;
    padding: 0 10px;
}

.sucesso {
    background-color: green;
}

.erro {
    background-color: red;
}